<!doctype html>
<html>

<head>
    <title>ESP Data Sensor</title>
    <link rel="stylesheet" href='../static/styles.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>ESP Sensor Data</h1>
	<hr>
    <div id="g1" class="reading"></div>
    <div id="g2" class="reading"></div>
    <div id="g3" class="reading"></div>
    
    <hr>
	<h2>Historical Data</h2>
	<hr>
	<div class="graph">
		<img class="img-class" src="/plot/temp" alt="Image Placeholder" width="49%">
	</div>
	<div class="graph">
		<img class="img-class" src="/plot/hum" alt="Image Placeholder" width="49%">  
	</div>
	<div class="graph">
		<img class="img-class" src="/plot/press" alt="Image Placeholder" width="49%">  
	</div>

	<div class="footer">
	  	<div class="last-reading footer-item"><b>Last Refresh:</b> {{time}}</div>
	  	<div class="sample-amount footer-item">
	  		<form method="POST">
	  			<label for="numSamples"><b>Samples:</b></label>
		  		<select id="numSamplesSelect" name="numSamples" class="select-samples" onchange="this.form.submit()">>
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
					<option value="60">60</option>
					<option value="70">70</option>
					<option value="80">80</option>
					<option value="90">90</option>
					<option value="100">100</option>
				</select>
			</form>
	  	</div>
	</div>
</body>

</html>

<script src="../static/raphael-2.1.4.min.js"></script>
<script src="../static/justgage.js"></script>
<script>
	var g1, g2, g3;

	document.addEventListener("DOMContentLoaded", function(event) {
		g1 = createGage("g1", '{{temp}}', -10, 50, "Temperature", "Celcius");
		g2 = createGage("g2", '{{hum}}', 0, 100, "Humidity", "%");
		g3 = createGage("g3", '{{press}}', 1000, 1050, "Pressure", "hPa");
	});

	function createGage(id1, value1, min1, max1, title1, label1) {
		return new JustGage({
			id: id1,
			value: value1,
			valueFontColor: "black",
			titleFontColor: "black",
			min: min1,
			max: max1,
			title: title1,
			label: label1
		});
	}

	document.getElementById("numSamplesSelect").value = numSamples;

	setTimeout(function(){
		window.location.reload(1);
	}, 30000);
</script>